/*this centers the headers in ag grid*/
.ag-header-cell-label {
    justify-content: center;
  }

  :root {
    /*these are used to control calendar page button colors*/
    --fc-button-bg-color: #1976d2;
    --fc-button-hover-bg-color: #115293;
    --fc-button-active-bg-color: #115293;
  }